name: Updates license files
on:
  repository_dispatch:
    types: [generateLicenses-command]

jobs:
  generateLicenses:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Update licenses
        uses: ./.github/actions/gradle-command-on-pr
        with:
          gradle-command: generateLicenses
          TEAMCITY_DEV_URL: ${{ secrets.TEAMCITY_DEV_URL }}
          TEAMCITY_USER: ${{ secrets.TEAMCITY_USER }}
          TEAMCITY_PASSWORD: ${{ secrets.TEAMCITY_PASSWORD }}
          SERVICE_ACCOUNT_PAT: ${{ secrets.SERVICE_ACCOUNT_PAT }}